{% extends 'base.html' %}
{% load colaborador_tags %}

{% block contenido %}

<div class="container mt-5">
    {% if user.is_superuser or user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin:400px" >
        <h2>Eliminar Usuario: {{ object.username }}</h2>
         <p>¿Estás seguro de que deseas eliminar este usuario "{{ object.username }}" ?</p><br>
        <form method="post">
            {% csrf_token %}
            <label for="eliminar_comentarios">Eliminar todos los comentarios realizados por este usuario:</label>
            <input type="checkbox" id="eliminar_comentarios" name="eliminar_comentarios"><br><br>
            {% if es_colaborador %}
            <label for="eliminar_posts">Eliminar todas las preguntas realizadas por este usuario?</label>
            <input type="checkbox" id="eliminar_posts" name="eliminar_posts"><br><br>
            {% endif %}

            <input type="submit" value="Confirmar Eliminación" class="btn btn-danger">
            <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">
                Cancelar
            </a>
        </form>
    </div>
    {% else %}
    <div class="alert alert-danger mt-5" role="alert">
        No tienes permiso para eliminar usuarios, solo usuarios con rol de Colaborador o Administrador pueden hacerlo.      
    </div>
    {% endif %}
</div>
{% endblock contenido %}
