{% extends 'base.html' %}

{% block contenido  %}
<h1>Registro de Usuarios</h1>

<form method="POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <div class="mb-3">
        <label for="username"  class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="first_name" name="first_name" >
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="last_name" name="last_name" >
    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirmar contraseña</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
    </div> -->
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
{% endblock contenido %}