{% extends 'base.html'%}

{% block contenido  %}
<div class="contenido-fluid mt-5">
    <button type="submit" class="btn btn-primary">Crear Nueva Etiqueta</button>
    <h1>Etiquetas</h1>
    <br>
    <ul>
        {% for etiqueta in etiquetas %}
        <li> {{ etiqueta.nombre}}
            (<a style ="color: black;"
            href="{% url  'eliminar_etiqueta' etiqueta.id %}">Eliminar Etiqueta</a>)
        </li>
        {% empty %}
        <li>No hay etiquetas disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock contenido  %}