{% extends 'base.html'%}

{% block contenido  %}
<div class="container mt-5">
    <a class="btn btn-primary" href="{% url 'crear_etiqueta' %}">Crear Nueva Etiqueta</a>
    <h1>Etiquetas</h1>
    <br>
     <div class="card mb-4 shadow-sm">
         <div class="card-body">
                <p class="card-text">Lista de todas las etiquetas disponibles. </p>
                 {% for etiqueta in etiquetas %}
                   <p class="card-text"></p> <span class="badge bg-secondary">{{ etiqueta.nombre }}</span>
                    (<a style ="color: black;"
                       href="{% url  'eliminar_etiqueta' etiqueta.id %}">Eliminar Etiqueta</a>)               
                     <a href="{% url 'posts_por_etiqueta' etiqueta.id %}">Ver Preguntas por Etiqueta</a> 
                  </p> 
               {% empty %}
                 <p>No hay etiquetas disponibles.</p>
               {% endfor %}  
         </div> 
     </div>
        
   
</div>
{% endblock contenido  %}