{% extends 'base.html'%}

{% block contenido  %}
<div class="container mt-5">
    <a class="btn btn-primary" href="{% url 'crear_etiqueta' %}">Crear Nueva Etiqueta</a>
    <h1>Etiquetas</h1>
    <br>
    <ul>
        {% for etiqueta in etiquetas %}
        <li> {{ etiqueta.nombre}}
            (<a style ="color: black;"
            href="{% url  'eliminar_etiqueta' etiqueta.id %}">Eliminar Etiqueta</a>)
                   
        </li>
        <a href="{% url 'posts_por_etiqueta' etiqueta.id %}">Ver Preguntas por Etiqueta</a> 
        {% empty %}
        <li>No hay etiquetas disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock contenido  %}