{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido  %}

<div class="container mt-5">
     <form method="POST" style="margin: 200px;">
    <h1>Formulario de Contacto</h1>
    <br>  
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <table>
        {% csrf_token %}
        {{ form|crispy }}
    </table>
        <input type="submit" class="btn btn-primary">Enviar Mensaje</button>
    </form>
</div>
{% endblock contenido  %}
