{% load static %}
{% load colaborador_tags %}


<!DOCTYPE html>     
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<nav>   
<!-- <h1>Aqui la barra de navegacion</h1><hr> -->
<nav> 
<ul class="nav-links">

    <li><a href="{% url 'app_posts:inicio' %}">Inicio</a></li>
    <li><a href="{% url 'about' %}">Acerca de</a></li>
    <li><a href="{% url 'lista_posts' %}">Preguntas</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>
    <li><a href="{% url 'lista_etiquetas' %}">Etiquetas</a></li>           
<div class="dropdown">
{% if user.is_authenticated %}
    <p> Bienvenido</p> <h4>{{user.username}}</h4>
    <a href="{% url 'lista_posts' %}">Lista de Posts</a> |
    <li><a href="{% url 'logout' %}">{{ user.username }}: Cerrar Sesion</a></li>
    <dov class="dropdown-content">
      <table>
        <tr>
        {% if user.is_superuser %}
            <td><a href="{% url 'admin:index' %}">Panel de Administracion</a></td>
        {% endif %}
        {% if user.is_superuser or request.user|has_group:"Colaborador" %}
            <td><a href="{% url 'app_usuarios:usuario_list' %}">Lista de usuarios</a></td>
        {% endif %}
        </tr>
        <tr>
            <td><a href="#">Lista de Etiquetas</a></td>
        </tr>
        <tr>
            <td><a href="#">Lista de preguntas</a></td>
        </table>
{% else %}
    <a href="{% url 'login' %}">Iniciar Sesion</a> |
    <a href="{% url 'registro' %}">Registrarse</a>
{% endif %}
</div>

</ul>    
</nav>
<body>
    <div class="container">
        {% block contenido %}
        {% endblock contenido %}
        {% block scripts %}
        {% endblock scripts %}
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
<footer class="footer">
    <div class="container text-center py-3">
        <p class="text-muted">&copy; 2025 DevExchange Blog. Todos los derechos reservados.</p>
    </div>
</footer>
</html>